/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2016, 09:23:12 AM
    Author     : jorge.ubaque
*/
/* CSS Document */
/* line 14, ../../../dev/css/sass/_base.scss */
html, body {
  background: #fff;
  width: 100%;
  font-family: verdana,sans;
  font-size: 12px;
  margin: 0px;
}

/* line 22, ../../../dev/css/sass/_base.scss */
h1 {
  color: #000;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

/* line 31, ../../../dev/css/sass/_base.scss */
h2 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: #000;
  text-align: center;
  background: #f0f0f0;
}

/* line 39, ../../../dev/css/sass/_base.scss */
h3 {
  color: #000;
  text-align: center;
}

/* line 44, ../../../dev/css/sass/_base.scss */
div.maestra {
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: block;
}

/* line 50, ../../../dev/css/sass/_base.scss */
div.contenido {
  background: #f00;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 800px;
  max-width: 100%;
  vertical-align: top;
}

/* line 60, ../../../dev/css/sass/_base.scss */
.menuprincipal {
  vertical-align: top;
  display: inline-block;
  width: 200px;
}
/* line 66, ../../../dev/css/sass/_base.scss */
.menuprincipal nav {
  background: #fff;
  height: 40px;
}
/* line 70, ../../../dev/css/sass/_base.scss */
.menuprincipal nav ul {
  list-style: none;
}
/* line 73, ../../../dev/css/sass/_base.scss */
.menuprincipal nav ul li {
  display: inline-block;
  width: 150px;
  height: 30px;
  background: #fff;
}
/* line 79, ../../../dev/css/sass/_base.scss */
.menuprincipal nav ul li a {
  text-decoration: none;
  text-align: left;
  color: #000;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: -5px;
}
/* line 90, ../../../dev/css/sass/_base.scss */
.menuprincipal nav ul li a:active {
  color: #000;
}
/* line 93, ../../../dev/css/sass/_base.scss */
.menuprincipal nav ul li a:link {
  color: #000;
}
/* line 96, ../../../dev/css/sass/_base.scss */
.menuprincipal nav ul li a:visited {
  color: #000;
}

/* line 106, ../../../dev/css/sass/_base.scss */
.footer {
  position: relative;
  display: block;
  width: 1000px;
}

/* line 113, ../../../dev/css/sass/_base.scss */
form {
  width: 90%;
  display: inline-block;
  text-align: left;
}
/* line 118, ../../../dev/css/sass/_base.scss */
form fieldset {
  border-color: #000;
  border-radius: 5px;
}
/* line 122, ../../../dev/css/sass/_base.scss */
form fieldset legend {
  color: #000;
  font-weight: bold;
}
/* line 128, ../../../dev/css/sass/_base.scss */
form input, form select, form textarea {
  font-family: verdana,sans;
  border: 0px;
  border-bottom: 1px solid #bbb;
  background: transparent;
  color: #000;
}
/* line 135, ../../../dev/css/sass/_base.scss */
form label input .archivo {
  width: 130px;
}
/* line 139, ../../../dev/css/sass/_base.scss */
form label {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 5px;
  text-align: left;
  color: #000;
  overflow: visible;
  height: 50px;
  vertical-align: top;
  font-weight: bold;
}
/* line 152, ../../../dev/css/sass/_base.scss */
form label input, form select, form textarea {
  display: block;
  width: 100%;
  height: 30px;
  background: #fff;
}
/* line 159, ../../../dev/css/sass/_base.scss */
form button {
  background: #fff;
  border: none;
  width: 130px;
  height: 30px;
  border-radius: 8px;
  vertical-align: top;
}
/* line 167, ../../../dev/css/sass/_base.scss */
form .botonera {
  width: 100%;
  text-align: center;
}
/* line 172, ../../../dev/css/sass/_base.scss */
form #login {
  width: 500px;
  height: 150px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  z-index: 99;
  background: #fff;
  border-radius: 10px;
  display: none;
}
/* line 184, ../../../dev/css/sass/_base.scss */
form #login legend {
  color: #000;
}

/* line 191, ../../../dev/css/sass/_base.scss */
#toggleIniciarSesion {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #000;
  background: #fff;
  width: 120px;
  height: 30px;
  border: none;
}

/* line 202, ../../../dev/css/sass/_base.scss */
table {
  display: inline-table;
  width: 800px;
  max-width: 100%;
  border: 1px;
  cursor: default;
  position: relative;
}
/* line 210, ../../../dev/css/sass/_base.scss */
table a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
/* line 214, ../../../dev/css/sass/_base.scss */
table a:visited, table a:link, table a:active {
  color: #000;
  text-decoration: none;
}
/* line 221, ../../../dev/css/sass/_base.scss */
table thead {
  background: #fff;
  color: #fff;
}
/* line 227, ../../../dev/css/sass/_base.scss */
table tbody tr {
  background: #fff;
}
/* line 229, ../../../dev/css/sass/_base.scss */
table tbody tr:hover {
  background: #fff;
}
/* line 232, ../../../dev/css/sass/_base.scss */
table tbody tr td {
  position: relative;
}

/* line 239, ../../../dev/css/sass/_base.scss */
.FechaSelector {
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 99;
  background: #fff;
  border: 1px #ddd solid;
  border-radius: 5px;
}
/* line 248, ../../../dev/css/sass/_base.scss */
.FechaSelector select {
  width: 60px;
  display: inline;
}

/* line 256, ../../../dev/css/sass/_base.scss */
.boton_carga {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #000000;
  width: 79px;
  height: 30px;
  text-align: center;
  background-image: url(../images/cargararchivo.png);
  background-repeat: no-repeat;
  font-weight: bold;
  padding-top: 2px;
  margin: auto;
  cursor: pointer;
  padding-top: 15px;
  display: inline;
  overflow: auto;
  position: absolute;
  top: 12px;
  right: 0px;
}
/* line 275, ../../../dev/css/sass/_base.scss */
.boton_carga:hover {
  color: #999;
}

/* line 281, ../../../dev/css/sass/_base.scss */
.boton_carga_campo {
  width: 130px !important;
  height: 30px;
  text-decoration: underline;
  color: #000080;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2016, 11:41:14 AM
    Author     : jorge.ubaque
*/
/* line 11, ../../../dev/css/sass/modulo/_inicio.scss */
hola_amigos {
  width: 0px;
}
