/* CSS Document */
html,body{
	background:#fff;
	width:100%;
	font-family:verdana,sans;
	font-size:12px;
	margin:0px;
	}
h1{
	background:#0066FF;
	color:#fff;
	width:100%;
	text-align:center;
	}
div.maestra{
	width:100%;
	max-width:100%;
	text-align:center;
	display:block;
	}
div.contenido{
	background:#F6F6F6;
	position:relative;
	display:inline-block;
	width:1000px;
	max-width:100%;
	}

form{
	width:90%;
	display:inline-block;
	text-align:left;
	}
fieldset{
	border-color:#0066FF;
	border-radius:5px;
	}
legend{
	color:#0066FF;
	font-weight:bold;
	}
form input,select,textarea{
	font-family:verdana,sans;
	border:0px;
	border-bottom:1px solid #bbb;
	}
form label{
	position:relative;
	display:inline-block;
	width:200px;
	margin:5px;
	text-align:left;
	color:#003399;
	overflow:visible;
	height:50px;
	}
form label input,select,textarea{
	display:block;
	width:100%;
	height:30px;
	}
form .botonera{
	width:100%;
	text-align:center;
	}
table{
	display:inline-table;
	width:800px;
	max-width:100%;
	border:1px;
	cursor:default;
	}
table thead{
	background:#0055FF;
	color:#fff;
	}
table tbody tr{
	background:#E8E8E8;
	}
table tbody tr:hover{
	background:#C8C8C8;
	}
.FechaSelector{
	position:absolute;
	top:30px;
	left:0px;
	z-index:99;
	background:#fff;
	border:1px #ddd solid;
	border-radius:5px;
	}
.FechaSelector select{
	width:60px;
	display:inline;
	}
