RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_METHOD} =POST
RewriteRule .* index.php [L]

RewriteCond %{REQUEST_URI} !(\.[a-zA-Z1-9]+)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

ErrorDocument 404 /public/error-404.html